/* simple reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, q, a, em, img, b, i, dl, dt, dd, ol, ul, li, form, label { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

body { background:#272a31 url(../img/bg.jpg) no-repeat center 0; height:100%; }
h1 { display:none; color:#fff; }
/* header */
#header { width:1146px; height:42px; margin:0 auto; font-family:"microsoft yahei","simhei"; font-size:14px; color:#fff; }
#tips { float:right; width:600px; height:32px; text-align:right; line-height: 32px; }
#nav { height:32px; line-height:32px; }
#nav li { display:inline; padding:0 10px; }
#nav a { color:#fff; text-decoration:none; }
#nav a:hover { text-decoration:underline; }
#header .highnav { color:#fff000; }
/* main screen */
#puzzle { position:relative; margin:0 auto; background:#282a39 url(../img/bg.gif) no-repeat; padding:13px; width:1120px;}
.puzzle-screen { background:url(../img/ajax-loader.gif) no-repeat center center; position:relative; overflow:hidden; width:1120px; height:559px; }
.frag { float:left; margin:-1px 0 0 -1px; border:1px dashed #8b8b91; width:39px; height:39px; }
.bgon, .selectbg { display:none; width:39px; height:39px; background:url(../img/hover.png) no-repeat 0px 0px; }
.select { background:url(../img/hover.png) no-repeat 0px 0px; }
.complete {  }
.pointer { cursor:pointer; }
.dark { opacity:0.3; }
.screen-to { display:none; position:absolute; top:50%; margin:-40px; background:url(../img/screen-to.png) no-repeat; overflow:hidden; width:50px; height:95px; text-indent:-99999em; cursor:pointer; opacity:0.8; }
.screen-to:hover { opacity:1; }
#prevScreen { left:-30px; } 
#nextScreen { right:-30px; background-position:-50px 0;}

/* mini message */
#mini { display:none; position:absolute; background:#fff; padding:12px 12px 12px 20px; width:167px; height:95px; opacity:0.7; color:#321800; font:bold 14px "microsoft yahei","simhei";}
.m-to { padding-bottom:10px; }
.m-message { overflow:hidden; height:45px; line-height:1.5em; }
.m-nickname { text-align:right; }

/* puzzle-info */
#puzzle-info { display:none; z-index:100; position:absolute; top:0; left:0; width:100%; height:100%; }
#puzzle-message { display:none; position:relative; background:url(../img/puzzle-message.jpg) no-repeat; margin:55px 142px; width:862px; height:476px; font-family:"microsoft yahei","simhei"; }
#message-cancel { display:block; position:absolute; top:0; right:-40px; background:url(../img/message-cancel.png) no-repeat; width:40px; height:40px; text-indent:-99999em; cursor:pointer; }
.p-url { float:right; background:#fff; margin-top:68px; margin-right:40px; width:406px; height:30px; line-height:30px; }
.p-url input { margin-left:14px; border:0; width:300px; color:#444; font-size:14px; outline:0; cursor:text; }
#paste { float:right; background:#007a22; width:76px; color:#fff; text-align:center; cursor:pointer; }
.p-content { padding:76px 0 0 58px; font-weight:bold; }
.p-to { padding:0 0 24px 0; font-size:18px; }
.p-nto { color:#da0000; }
.p-message { width:312px; height:210px; font-size:14px; line-height: 1.5em; text-indent:2em; }
.p-from { width:312px; text-align:right; font-size:18px; }
#approve { background:#d60c0c; padding:3px 8px; color:#fff; font-size:14px; font-weight:normal; cursor:pointer; }
.p-read { padding-left:8px; font-size:12px; color:#22485a; }
.p-other { margin-top:32px; }

#puzzle-form { display:none; background:url(../img/form-bg.png); margin:93px 253px; width:679px; height:399px; }
#puzzle-form form { clear:both; padding-left:70px; width:610px; font-family:"microsoft yahei","simhei"; }
#puzzle-form dl { clear:both; }
#puzzle-form dt { float:left; padding-top:5px; width:110px; height:44px; color:#82e17d; font-size:18px; }
#puzzle-form dd { float:left; width:490px; height:55px; }
#puzzle-form input[type=text] { padding:5px 10px; width:160px; height:18px; font-size: 16px; font-family:"microsoft yahei","simhei"; } 
#puzzle-form dt span { display:block; margin-left:-3px; padding-top:8px; font-size:12px; color:#ddd; }
#puzzle-form textarea { padding:12px; width:386px; height:146px; font-size: 16px; font-family:"microsoft yahei","simhei"; }
#form-cancel { display:block; background:url(../img/form-cancel.png) no-repeat; margin-top:16px; margin-right:14px; width:22px; height:22px; float:right; text-indent:-99999em; cursor:pointer; }
#puzzle-form .high { height:200px; }
.gift { font-size:14px; color:#fff; }
#puzzle-form input[type="submit"] { display:block; background:url(../img/button-bg.png) no-repeat; float:right; margin-top:-5px; margin-right:95px; border:0; width:103px; height:33px; text-align:center; color:#fff; font-family:"microsoft yahei","simhei"; font-size:14px; cursor:pointer; }

/* alert EX */
#alertex { z-index:201; display:none; background:#fff; position:absolute; top:50%; left:50%; margin:-100px 0 0 -200px; width:400px; height:200px; }
#alert-cancel { display:block; background:url(../img/form-cancel.png) no-repeat; margin:5px; width:22px; height:22px; float:right; cursor:pointer; text-indent:-99999em; }
.alert-content { clear:both; padding-top:20px; }
.alert-content p { height:80px; text-align:center; font-size:18px; font-family:"microsoft yahei","simhei"; }
.alert-buttons button { display:block; background:url(../img/button-bg.png) no-repeat; margin:0 auto; border:0; width:103px; height:33px; text-align:center; color:#fff; font-family:"microsoft yahei","simhei"; font-size:14px; cursor:pointer; }
#alertbg { z-index:200; display:none; background:#000; position:absolute; top:0; margin-left:-13px; width:100%; height:100%; opacity:0.4; }

/* screen-list */
#screen-list h2 { background:url(../img/h2-bg.png) no-repeat center center; margin-top:-86px; height:86px; text-indent:-99999em; }
#screen-list { display:none; position:absolute; top:150px; left:50%; margin-left:-431px; background:url(../img/screen-list.jpg) no-repeat; width:862px; height:420px; }
#list-ul { overflow:hidden; margin:80px auto 0; width:750px; height:300px; }
#screen-list ul { float:left; width:750px; }
#screen-list li { float:left; background:url(../img/screen-locked.gif) no-repeat center 0; width:146px; height:150px; text-align:center; }
.screen-link { color:#3e2a21; text-decoration:none; }
.screen-link:hover { color:#802600; }
.img-block { height:100px; }
.screen-name { display:block; line-height:32px; font-size:18px; font-family:"microsoft yahei","simhei"; }
#prevList, #nextList { display:block; }

#prevList { left:55px; }
#nextList { right:55px; background-position:-50px 0; }

/* cover */
.cover { margin:0 auto; width:862px; }
.cover h2 { background:url(../img/h2-bg.png) no-repeat center center; margin-top:22px; padding-bottom:22px; height:86px; text-indent:-99999em; }

/* footer */
#footer { text-align:center; padding-top:12px; font-size:12px; color:#ddd; }